In [1]:
import pandas as pd

In [2]:
basketball_df = pd.read_csv("injuries.csv")

In [4]:
basketball_df.head()

,Date,Team,Acquired,Relinquised,Notes
0,2010-10-03,Bulls,NaN,Carlos Boozer,fractured bone in right pinky finger (out inde...
1,2010-10-06,Pistons,NaN,Jonas Jerebko,torn right Acchilles tendon (out indefinitely)
2,2010-10-06,Pistons,NaN,Terrico White,broken fifth metatarsal in right foot (out ind...
3,2010-10-08,Blazers,NaN,Jeff Pendergraph / Jeff Ayres,torn ACL in right knee (out indefinitely)
4,2010-10-08,Nets,NaN,Troy Murphy,strained lower back (out indefinitely)

In [5]:
hockey_df = pd.read_csv("NHL_Injury_Database_data.csv")

In [7]:
hockey_df.head()

,Cap Hit,Chip,Games Missed,Injury Type,Player,Position,Season,Team,Games Missed.1
0,0.500,36.585366,6,Eye,"Calder, Kyle",F,2009/10,Anaheim,6
1,0.625,22.865854,3,Foot,"Carter, Ryan",F,2009/10,Anaheim,3
2,0.625,167.682927,22,Foot,"Carter, Ryan",F,2009/10,Anaheim,22
3,5.325,64.939024,1,Ankle,"Getzlaf, Ryan",F,2009/10,Anaheim,1
4,5.325,129.878049,2,Ankle,"Getzlaf, Ryan",F,2009/10,Anaheim,2

In [8]:
soccer_df = pd.read_csv("injury_with_ADASYN.csv")

In [9]:
soccer_df.head()

,Unnamed: 0,ID_players,Distance_total_MSWR,High_Speed_Running_EWMA,Injuries_previous_EWMA,Injury
0,0,player_13,3.908999,124.540000,0.0,0
1,1,player_13,4.699491,169.718899,0.0,0
2,2,player_13,6.201225,128.211689,0.0,0
3,3,player_13,2.476670,91.931112,0.0,0
4,4,player_13,3.042699,127.576267,0.0,0

In [13]:
soccer_df['ID_players'].value_counts

<bound method IndexOpsMixin.value_counts of 0       player_13
1       player_13
2       player_13
3       player_13
4       player_13
5       player_13
6       player_13
7       player_13
8       player_13
9       player_13
10      player_13
11      player_13
12      player_13
13      player_13
14      player_13
15      player_13
16      player_13
17      player_13
18      player_13
19      player_13
20      player_13
21      player_13
22      player_13
23      player_13
24      player_13
25      player_13
26      player_13
27      player_13
28      player_13
29      player_13
          ...
1783    player_12
1784    player_11
1785    player_15
1786    player_26
1787     player_6
1788    player_11
1789     player_6
1790     player_2
1791    player_15
1792    player_12
1793     player_2
1794    player_26
1795    player_26
1796    player_15
1797     player_6
1798     player_6
1799     player_2
1800    player_11
1801     player_6
1802    player_11
1803    player_13
1804     player_2
1805    player_15
1806    player_11
1807    player_11
1808    player_15
1809    player_15
1810    player_13
1811     player_2
1812    player_26
Name: ID_players, Length: 1813, dtype: object>