In [60]:
import pandas as pd
import urllib.request

from bs4 import BeautifulSoup

In [133]:
# scrape players injured by cummulative season 2018

source = urllib.request.urlopen('http://www.espn.com/nhl/statistics/player/_/stat/timeonice/sort/avgTimeOnIce/year/2018').read()
soup = BeautifulSoup(source, "html.parser")
table = soup.find_all('table', attrs={'class':'datatable'})

In [138]:
c=0
for tb in table:
#     print(tb)
    c=c+1
print(c)

5

In [135]:
first_table=table[4]
table_rows = first_table.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)
df_18 = pd.DataFrame(res)
# print(df.count)

#print(df)

In [136]:
df_18 = pd.DataFrame(res, columns=["PLAYER", "POS", "TEAM", "REASONS", "WEEKS", "2018 CAP", "2018 CASH"])

df_18.head()

              PLAYER POS TEAM          REASONS WEEKS     2018 CAP    2018 CASH
0     Filip Forsberg   C  NSH             Hand    38  $17,339,818  $17,339,818
1        Jack Eichel   C  BUF       Upper Body   166   $8,924,658   $8,924,658
2      Martin Hanzal   C  DAL  Upper Body/Back   241   $6,154,658   $6,478,562
3  Henrik Zetterberg  LW  DET             Back   186   $6,083,316   $6,083,316
4        Marc Methot   D  DAL       Lower Body   218   $5,742,992   $5,742,992

In [129]:
# scrape players injured by cummulative season 2017
source = urllib.request.urlopen('https://www.spotrac.com/nhl/injured-reserve/2017/').read()
soup = BeautifulSoup(source, "html.parser")
table = soup.find_all('table', attrs={'class':'datatable'})
first_table=table[4]
table_rows = first_table.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)
df_17 = pd.DataFrame(res)
# print(df.count)
df_17 = pd.DataFrame(res, columns=["PLAYER", "POS", "TEAM", "REASONS", "WEEKS", "2017 CAP", "2017 CASH"])

df_17.head()

,PLAYER,POS,TEAM,REASONS,WEEKS,2017 CAP,2017 CASH
0,Zach Bogosian,D,BUF,Leg/Lower Body/Ribs,"1,432","$40,393,307","$41,994,839"
1,Kris Letang,D,PIT,Lower Body/Upper Body,872,"$35,114,616","$35,114,616"
2,Ryan Callahan,RW,TBL,Upper Body/Lower Body,911,"$29,338,657","$32,879,646"
3,Semyon Varlamov,G,COL,Lower Body/Groin,905,"$29,642,930","$30,117,985"
4,Mikhail Grabovski,C,VGK,Concussion,626,"$16,828,132","$20,193,508"