In [1]:
import pandas as pd

In [3]:
file1 = "NHL_Time_on_Ice_2019.csv"


NHLTime = pd.read_csv(file1)
NHLTime.head()

,PLAYER,TEAM,GP,G,A,PTS,+/-,TOI/G,SHFT,SHFT/G,PROD
0,"Ryan Suter, D",MIN,82,7,40,47,-8,26:42:00,2222,27.1,46:34:00
1,"Drew Doughty, D",LA,82,8,37,45,-34,26:36:00,2393,29.2,48:27:00
2,"Kris Letang, D",PIT,65,16,40,56,13,25:58:00,1923,29.6,30:07:00
3,"Seth Jones, D",CBJ,75,9,37,46,1,25:49:00,2214,29.5,42:06:00
4,"Roman Josi, D",NSH,82,15,41,56,9,25:10:00,2359,28.8,36:51:00

In [4]:
NHLTime[['PLAYER','POS']] = NHLTime['PLAYER'].str.split(',',expand=True)

NHLTime.head()

,PLAYER,TEAM,GP,G,A,PTS,+/-,TOI/G,SHFT,SHFT/G,PROD,POS
0,Ryan Suter,MIN,82,7,40,47,-8,26:42:00,2222,27.1,46:34:00,D
1,Drew Doughty,LA,82,8,37,45,-34,26:36:00,2393,29.2,48:27:00,D
2,Kris Letang,PIT,65,16,40,56,13,25:58:00,1923,29.6,30:07:00,D
3,Seth Jones,CBJ,75,9,37,46,1,25:49:00,2214,29.5,42:06:00,D
4,Roman Josi,NSH,82,15,41,56,9,25:10:00,2359,28.8,36:51:00,D

In [5]:
# flip first last name to last first
NHLTime["PLAYER"] = [" ".join(n.split(" ")[::-1]) for n in NHLTime["PLAYER"]]

NHLTime.head()

,PLAYER,TEAM,GP,G,A,PTS,+/-,TOI/G,SHFT,SHFT/G,PROD,POS
0,Suter Ryan,MIN,82,7,40,47,-8,26:42:00,2222,27.1,46:34:00,D
1,Doughty Drew,LA,82,8,37,45,-34,26:36:00,2393,29.2,48:27:00,D
2,Letang Kris,PIT,65,16,40,56,13,25:58:00,1923,29.6,30:07:00,D
3,Jones Seth,CBJ,75,9,37,46,1,25:49:00,2214,29.5,42:06:00,D
4,Josi Roman,NSH,82,15,41,56,9,25:10:00,2359,28.8,36:51:00,D

In [9]:
# drop duplicated rows if any
NHLTime = NHLTime.drop_duplicates(subset=None, keep='first', inplace=False)
# print(injNHLdata18.shape)
NHLTime.head()

,PLAYER,TEAM,GP,G,A,PTS,+/-,TOI/G,SHFT,SHFT/G,PROD,POS
0,Suter Ryan,MIN,82,7,40,47,-8,26:42:00,2222,27.1,46:34:00,D
1,Doughty Drew,LA,82,8,37,45,-34,26:36:00,2393,29.2,48:27:00,D
2,Letang Kris,PIT,65,16,40,56,13,25:58:00,1923,29.6,30:07:00,D
3,Jones Seth,CBJ,75,9,37,46,1,25:49:00,2214,29.5,42:06:00,D
4,Josi Roman,NSH,82,15,41,56,9,25:10:00,2359,28.8,36:51:00,D

In [7]:
NHLTime.shape

(906, 12)

In [10]:
# drop rows with na if any
NHLTime.dropna(how='any', inplace=True)

In [12]:
NHLTime.shape

(906, 12)

In [13]:
NHLTime.to_csv('NHLTime.csv', index=True, header=True)